<div class="main-container">
  <div *ngIf="notes.length > 0" class="search-bar">
    <div class="control has-icons-left has-icons-right">
      <input
        class="input is-small"
        type="text"
        placeholder="Search..."
        (focus)="focusIn()"
        (focusout)="focusOut()"
      >

      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>

      <span *ngIf="inputSelected" class="icon is-small is-right">
        <i class="fas fa-times-circle"></i>
      </span>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card
      *ngFor="let n of notes;"
      [note]="n"
      (clickDelete)="deleteNote($event)"></app-note-card>
  </div>

  <div *ngIf="notes.length === 0 && !loading" class="no-notes">
    <img src="assets/images/notes.svg" alt="notes">
    <p>No note found. <a routerLink="/note">Try to add first one.</a></p>
  </div>

  <button [routerLink]="['/note']" class="button floating-add-button is-primary">
    <span class="icon">
      <i class="fas fa-plus"></i>
    </span>
    <span>Add</span>
  </button>
</div>

