@charset "utf-8";

/*
  For:
    - Changing bulma variables
    - Adding a global styles
*/

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #A59AD7;
$pink: #FE76C2;
$blue: #37C7F2;
$light-red: #FFF3F3;
$light-blue: #22c1c3;
$yellow: #fdbb2d;
$light: #FAFCFF;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $blue;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #F3F5FA;
$input-shadow: none;


// Global styles
html, body {
  height: 100%;
  font-size: 18px !important;
  overflow: hidden !important;
}
